<h1>Hello World!</h1>
<h2>How are you, {{thing}}</h2>

Gimme input: <input [value]='thing' (input)='thing = $event.target.value' (keyup.enter) = "addThing(thing); thing = ''">
<button (click)="addThing(thing)">Add</button>
<div>
  <button (click)="startKeepAdding()">Keep Adding</button>
  <button (click)="stopKeepAdding()">Stop</button>
  <button (click)="clearThings()">Clear</button>
</div>

<h2>{{thingList.length}} elements in the list:</h2>
<ul>
  <li *ngFor="let thing of thingList; let ix = index">
    {{ix}}. {{thing}} <a (click)='removeThing(ix)'>----&gt;X&lt;----</a>
  </li>
</ul>
